<h1>Hello, <%= @name %>! Let the games begin!</h1>

<h2>Enter firing coordinates!</h2>
<form action="fire_shot" method="post">
  <input type="text" name="coordinates"></input>
  <input type="submit" value="FIRE!"></input>
</form>

<div id="Opponent's board">
  <h1>Opponent's Board</h1>
  <pre> <%= $game.opponent_board_view $game.player_1 %> </pre>
</div>

<div id ="My Board">
  <h1>My Board</h1>
  <pre> <%= $game.own_board_view $game.player_1 %> </pre>
</div>

<% if @hit %>
  <h4>HIT!!</h4>
<% else %>
  <h4>MISS!!</h4>
<% end %>
