<h1>Hello, <%= @name %>! Let the games begin!</h1>

<h2>Enter firing coordinates!</h2>
<form action="fire_shot" method="post">
  <input type="text" name="coordinates"></input>
  <input type="submit" value="FIRE!"></input>
</form>

<pre> <%= $game.own_board_view $game.player_1 %> </pre>

<% if @hit %>
  <h4>HIT!!</h4>
<% else %>
  <h4>MISS!!</h4>
<% end %>
