<h1>Hello, <%= @name %>! Let the games begin!</h1>

<h2>Enter firing coordinates!</h2>
<form action="fire_shot" method="post">
  <input type="text" name="coordinates"></input>
  <input type="submit" value="FIRE!"></input>
</form>

<h3><%= @name %>'s board:</h3>
<pre> <%= $game.own_board_view $game.player_1 %> </pre>

<h3>Player 2's board:</h3>
<pre> <%= $game.own_board_view $game.player_2 %> </pre>

<% if @hit == true %>
  <h4>HIT!!</h4>
<% elsif @hit == false %>
  <h4>MISS!!</h4>
<% end %>
