<h2>Provide your name, then place your ships!</h2>

<form action="/game_page" method="post">
<h3>Name:</h3>
  <input type='text' name='name'>
  <br>
<!--
<h3>Choose Ship:</h3>
  <select name="ship">
    <option value="submarine">Submarine</option>
    <option value="destroyer">Destroyer</option>
    <option value="cruiser">Cruiser</option>
    <option value="battleship">Battleship</option>
    <option value="aircraft_carrier">Aircraft Carrier</option>
  </select>
  <br>
 -->
 <!--
<h3>Pick Where You's Like it Placed(eg A1):</h3>
   <input name="coordinate" type="text">

<h3>Choose Direction:</h3>
   <select name="direction">
   <option value="horizontally">Horizontally to the right</option>
   <option value=:vertically>Vertically down</option>
  <br> -->
   <input value="Submit" type="submit">
 </form>
